.follow {
    color:white;
    margin-left:500px;
    font-size: 80px;
    margin-top:200px;
}

.follow-flex {
    display:flex;
    justify-content:center;
}

.insta-icon {
    width: 90px;
    margin-right:20px;
    margin-top:20px;
    cursor:pointer;
}

.insta-icon:hover {
    opacity: 0.6;
}

.insta-icon:active {
    opacity: 0.3;
}

.facebook-icon {
    width:90px;
    margin-right:20px;
    margin-top:20px;
    cursor: pointer;
}

.facebook-icon:hover {
    opacity:0.6;
}

.facebook-icon:active {
    opacity: 0.3;
}

.twitter-icon {
    width:90px;
    margin-right:20px;
    margin-top:20px;
    cursor:pointer;
}

.twitter-icon:hover {
    opacity: 0.6;
}

.twitter-icon:active {
    opacity: 0.3;
}
.white-image {
    width:100%;
    height:5px;
    margin-bottom:-130px;
}