.header {
    display: flex;
    flex-direction: row;
    border-style:solid;
    justify-content:space-between;
    height: 110px;
    border-bottom-color:white;

}

.left-side {
    color:white;
    flex:1;
}

.logo {
    width:150px;
    margin-left:10px;
    margin-top:20px;
    cursor:pointer;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.4;
}

.right-side {
    color:white;
    display: flex;
    justify-content: flex-end;
    flex:1;

}

.home-button {
    font-size: 25px;
    margin-right:70px;
    padding-top:45px;
    cursor:pointer;
}

.home-link {
    text-decoration: none;
    color:white;
}

.home-button:hover {
    opacity: 0.6;
}


.home-button:active {
    opacity: 0.4;
}

.about-button {
    font-size: 25px;
    margin-right:70px;
    padding-top:45px;
    cursor:pointer;
}

.about-button:hover {
    opacity:0.6;
}

.about-button:active {
    opacity: 0.4;
}

.contact-button {
    font-size: 25px;
    margin-right:70px;
    padding-top:45px;
    cursor:pointer;
}

.contact-button:hover {
    opacity: 0.6;
}

.contact-button:active {
    opacity: 0.4;
}

